<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	Get Help on the Ruby on Rail Tutorial at the
	<a href="htp://railstutorial.org/help">Rail Tutorial Help page</a>
	To get help on the sample app, see the
	<a href="htp://railstutorial.org/book">Rails Tutorial Book</a>
</p>
